{%load static %}
{%load tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       APP
    </title>
    <link rel="stylesheet" href="{% static 'app.css'%}">
    {% tailwind_css%}
</head>
<body class="bg-amber-200">
  <nav class='text-blue-600 bg-green-500'>This is navbar</nav>
<h1 class='text-fuchsia-600'>This is APP Page</h1>
<div class="app-items">
  <img src="{% static 'app.image.url' %}" alt="Django Logo" class="w-32 h-32">
  <img src="{% static 'images/tailwind.png' %}" alt="Tailwind CSS Logo" class="w-32 h-32">  

</div>
</body>
</html>