{%load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/app.css">
    {% tailwind_css %}
</head>
<body>
    <h3 class="bg-emerald-500 m-2 rounded-lg"> Welcome in App </h3>
<div class=" grid grid-cols-3 m-2 bg-amber-950 text-white p-4 rounded-lg">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>  
    <a href="{% url 'contact' %}">Contact</a> 
</div>
<div class="grid grid-cols-3 gap-4 m-4">
    <div class="bg-blue-700 p-5 rounded">
        <img src="{% static 'image/image.png'%}" alt="" class="rounded shadow-lg">
        <h3 class="text-2xl font-bold">Course</h3>
        <a href="#">
            <button>Enroll</button>
        </a>
    </div>
</div>    
</body>
</html>